In [10]:
# Loading dataset
import os
import pandas as pd
import gmaps
import yaml

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 20)
pd.set_option('display.notebook_repr_html', True)

# Loading datasets
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'Restaurant_Scores_-_LIVES_Standard.csv'))
df = df.set_index('business_id')

df2 = pd.read_csv(os.path.join('..', '..', '1','notebooks', 'null_latlongs1.csv'))
df2 = df2.set_index('address')

# Applying google credentials
with open('google.yaml', 'r') as f:
    google_credentials = yaml.load(f)

google_api_key = google_credentials['api-key']
gmaps.configure(api_key = google_api_key)

df.head()

,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
business_id,,,,,,,,,,,,,,,,
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103145,Improper storage of equipment utensils or linens,Low Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103154,Unclean or degraded floors walls or ceilings,Low Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103144,Unapproved or unmaintained equipment or utensils,Low Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103129,Insufficient hot water or running water,Moderate Risk

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53729 entries, 10 to 3133
Data columns (total 16 columns):
business_name            53729 non-null object
business_address         53729 non-null object
business_city            53729 non-null object
business_state           53729 non-null object
business_postal_code     52369 non-null object
business_latitude        35965 non-null float64
business_longitude       35965 non-null float64
business_location        35965 non-null object
business_phone_number    15880 non-null float64
inspection_id            53729 non-null object
inspection_date          53729 non-null object
inspection_score         41029 non-null float64
inspection_type          53729 non-null object
violation_id             40853 non-null object
violation_description    40853 non-null object
risk_category            40853 non-null object
dtypes: float64(4), object(12)
memory usage: 7.0+ MB

In [11]:
df2.head()

                                                  location
address
403 Irving St San Francisco      (37.764088, -122.4623667)
3104 24th St San Francisco      (37.7519806, -122.4228345)
1039 Stockton St San Francisco  (37.7927488, -122.4076476)
501 O'Farrell St San Francisco  (37.7856875, -122.4131188)
726 Clement St San Francisco    (37.7817296, -122.4913201)

In [12]:
#  Joining the location tuples on address

In [ ]:
# Removing extra columns

In [ ]:
# Plotting on google maps